name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    environment: Release
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.work

      - name: Generate a token
        id: generate-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          repositories: |
            skills-pkg
            homebrew-tap

      - name: Run GoReleaser
        run: go tool goreleaser release --clean --skip=validate
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}

      - name: Upload build artifacts
        uses: actions/upload-artifact@v7
        with:
          name: assets
          path: dist/
